<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace는 반드시 경로 + 인터페이스 패키지명과 일치해야함-->
<mapper namespace="org.scoula.security.account.mapper.UserDetailsMapper">

    <resultMap id="authMap" type="org.scoula.security.account.domain.AuthVO">
        <result property="username" column="username" />
        <result property="auth" column="auth" />
    </resultMap>

    <resultMap id="memberMap" type="org.scoula.security.account.domain.MemberVO">
        <id property="username" column="username"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="regDate" column="reg_date"/>
        <result property="updateDate" column="update_date"/>
        <collection property="authList" resultMap="authMap"/>
    </resultMap>

    <select id="get" resultMap="memberMap">
        select m.username, password, email, reg_date, update_date, auth
        from tbl_member m
        left outer join tbl_member_auth a
        on m.username = a.username
        where m.username = #{username}
    </select>

</mapper>

        <!--<mapper namespace="연결하고 싶은 인터페이스 경로 + 이름">-->
        <!--    <select id="추상 메서드 이름" resultType="반환타입">-->
        <!--        SQL-->
        <!--    </select>-->
        <!--</mapper>-->
